.TodoListItem {
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 15px;

  .TodoItem_con {
    margin-right: auto;
  }

  button {
    height: 23px;
    width: 40px;
    margin: 2px;
    border: none;
    background: #000000;
    color: #ffffff;
  }

  .TodoItem_date {
    margin-right: 5px;
    font-size: 14px;
    color: #808080;
  }

  .TodoItem_con_checked {
    font-style: italic;
    text-decoration: line-through;
    color: #afafaf;
  }

  .TodoItem_date_checked {
    display: none;
  }
}
