.AuthLogin {
  display: flex;
  justify-content: center;
  margin-top: 170px;

  div {
    text-align: center;
    width: 270px;

    > div {
      > div {
        display: flex;
        padding-bottom: 20px;
        align-items: center;

        > label {
          flex: 1;
          text-align: left;
          font-size: 17px;
        }
      }
    }

    button {
      margin: 30px;
      padding: 7px 15px;
      font-size: 16px;
    }
  }
}
