.Header {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #000000;

    ul,
    li {
      list-style: none;
    }

    a {
      text-decoration: none;
    }

    > nav {
      > ul {
        margin-top: 0;
        line-height: 80px;

        > li {
          float: left;
          margin-right: 70px;

          > a {
            color: #ffffff;
            font-size: 18px;
          }
        }
      }
    }

    > div {
      > ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 80px;

        > li {
          padding-right: 20px;

          > a {
            color: #cfcfcf;
            font-size: 14px;
          }
        }
      }
    }
  }
}
